<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
	backupGlobals="true"
	bootstrap="Bootstrap.php"
	colors="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"
	cacheDirectory="../cache/phpunit/"
	backupStaticProperties="false"
	requireCoverageMetadata="false"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnPhpunitDeprecations="true"
>
	<source>
		<include>
    		<directory suffix=".php">../src/</directory>
		</include>
		<exclude>
			<file>../src/Run.php</file>
			<file>../src/Logger/Color.php</file>
		</exclude>
	</source>
	<testsuites>
		<testsuite name="migration">
			<directory>./Migration</directory>
		</testsuite>
	</testsuites>
 	<coverage pathCoverage="false" includeUncoveredFiles="true">
		<report>
            <clover outputFile="coverage/clover.xml" />
            <text outputFile="coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true" />
        </report>
    </coverage>
</phpunit>
